#subjects{
    display: grid;
    grid-template-rows: auto auto auto;
   
}
#iframe{
   
    height: 50vw;
}
@media screen and (max-width: 768px) {
    #iframe{
    
      height: 70vh;
      width: 90vw;
      position: relative;
      right: 50px;
    }
    
}